<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>UTExportedTypeDeclarations</key>
  <array>
    <dict>
      <key>UTTypeIdentifier</key>
      <string>com.thoth.ndjson</string>
      <key>UTTypeDescription</key>
      <string>Newline-Delimited JSON</string>
      <key>UTTypeConformsTo</key>
      <array>
        <string>public.text</string>
      </array>
      <key>UTTypeTagSpecification</key>
      <dict>
        <key>public.filename-extension</key>
        <array>
          <string>ndjson</string>
          <string>jsonl</string>
        </array>
        <key>public.mime-type</key>
        <string>application/x-ndjson</string>
      </dict>
    </dict>
    <dict>
      <key>UTTypeIdentifier</key>
      <string>com.thoth.geojson</string>
      <key>UTTypeDescription</key>
      <string>GeoJSON</string>
      <key>UTTypeConformsTo</key>
      <array>
        <string>public.text</string>
      </array>
      <key>UTTypeTagSpecification</key>
      <dict>
        <key>public.filename-extension</key>
        <array>
          <string>geojson</string>
        </array>
        <key>public.mime-type</key>
        <string>application/geo+json</string>
      </dict>
    </dict>
  </array>
  <key>CFBundleDocumentTypes</key>
  <array>
    <dict>
      <key>CFBundleTypeName</key>
      <string>JSON File</string>
      <key>CFBundleTypeIconFile</key>
      <string>Thoth</string>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>LSHandlerRank</key>
      <string>Default</string>
      <key>CFBundleTypeExtensions</key>
      <array>
        <string>json</string>
      </array>
      <key>LSItemContentTypes</key>
      <array>
        <string>public.json</string>
      </array>
    </dict>
    <dict>
      <key>CFBundleTypeName</key>
      <string>NDJSON File</string>
      <key>CFBundleTypeIconFile</key>
      <string>Thoth</string>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>LSHandlerRank</key>
      <string>Default</string>
      <key>CFBundleTypeExtensions</key>
      <array>
        <string>ndjson</string>
        <string>jsonl</string>
      </array>
      <key>LSItemContentTypes</key>
      <array>
        <string>com.thoth.ndjson</string>
      </array>
    </dict>
    <dict>
      <key>CFBundleTypeName</key>
      <string>GeoJSON File</string>
      <key>CFBundleTypeIconFile</key>
      <string>Thoth</string>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>LSHandlerRank</key>
      <string>Default</string>
      <key>CFBundleTypeExtensions</key>
      <array>
        <string>geojson</string>
      </array>
      <key>LSItemContentTypes</key>
      <array>
        <string>com.thoth.geojson</string>
      </array>
    </dict>
  </array>
</dict>
</plist>
